.productdisplay {
  display: flex;
  margin: 0px 160px;
}
.productdisplay-left {
  display: flex;
  gap: 20px;
}

.productdisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 20px;
}

.productdisplay-img-list img {
  height: 10px;
}

.productdisplay-main-img {
  width: 600px;
  height: 400px;
}

.productdisplay-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}

.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}

.productdisplay-right-stars {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.productdisplay-right-prices {
  display: flex;
  margin: 5px 0px;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-price-new {
  color: #ff4141;
}
.productdisplay-right-price-new span {
  color: black;
  font-weight: bolder;
}

.productdisplay-right-size h1 {
  margin-top: 50px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}

.productdisplay-right-sizes {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}

.productdisplay-right-sizes div {
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}

.productdisplay-right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.productdisplay-right-description {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: 200px;
}
.productdisplay-right-description p {
  font-size: 1.2rem;
}

.productdisplay-right-category {
  margin-top: 10px;
}

.productdisplay-right-category span {
  font-weight: 600;
}

.productdisplay-quantity {
  display: flex;
  flex-direction: column;
}

.product-quantity {
  display: flex;
  width: 20px;
}

.product-quantity .qty {
  padding: 20px;
  margin: 2px;
  border: 1px solid white;
}

.price-desc {
  color: #656565;
  font-size: medium;
}

.btn-disabled {
  background: #fcb4b4 !important;
  cursor: default !important;
  color: black !important;
}
