right-admin-reports-section {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}

.right-admin-reports-section h2 {
  margin-bottom: 20px;
}

.report-sidebar {
  margin-bottom: 20px;
  margin-top: 20px;
}

.report-sidebar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.report-sidebar button:hover {
  background-color: #0056b3;
}

.table-btns {
  display: flex;
  justify-content: space-around;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
