right-admin-reports-section {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}

.bike-report-image {
  width: 200px;
}

.right-admin-reports-section h2 {
  margin-bottom: 20px;
}

.report-sidebar {
  margin-bottom: 20px;
  margin-top: 20px;
}

.report-sidebar button {
  background-color: #fa6400;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.report-sidebar button:hover {
  background-color: #a0490a;
}

.table-btns {
  display: flex;
  justify-content: space-around;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

/* subtotals styling */

.subtotals {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.subtotals p {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
}

.subtotals p:first-child {
  font-weight: bold;
}

.subtotals p:last-child {
  font-weight: bold;
  color: #fa6400; /* Highlight total price */
}
