.login-sign-up {
  width: 100%;
  height: 120vh;
  background: #737373;
  padding-top: 100px;
}

.login-sign-up-container {
  width: 580px;
  height: fit-content;
  background: white;
  margin: auto;
  padding: 40px 60px;
}

.login-sign-up-container h1 {
  margin: 20px 0px;
}

.login-sign-up-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 2rem;
}

.login-sign-up-fields input {
  height: 72px;
  width: 95%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.login-sign-up-container button {
  width: 100%;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
}

.login-sign-up-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.login-sign-up-login span {
  color: #ff4141;
  font-weight: 600;
}

.login-sign-up-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
