.profile-container {
  display: flex;

  margin-top: 20px;
}
.main-content {
  flex: 1;
  padding: 2rem;
}
.sidebar {
  border-right: 1px solid black;
  min-height: 50vh;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.left-profile-section,
.right-profile-section h2 {
  text-align: center;
}

.order-table {
  width: 100%; /* Adjusted width for better responsiveness */
  max-width: 800px; /* Added max-width for better layout on larger screens */
  margin: 20px auto; /* Center the table horizontally */
  border-collapse: collapse;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.filter-buttons button {
  background-color: #fa6400;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.filter-buttons button:hover {
  background-color: #ff7b00;
  transform: scale(1.05);
}

