/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  color: #626262;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ff4141;
}

.nav-logo img {
  width: 100px; /* Adjust size as needed */
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  font-size: 18px;
}

.nav-login-cart button {
  width: 120px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: #fa6400;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-login-cart button:hover {
  background-color: #e03030;
}

.nav-login-cart h2 {
  margin: 0;
  font-size: 16px;
}

.nav-login-cart a {
  text-decoration: none;
  color: #626262;
  transition: color 0.3s;
}

.nav-login-cart a:hover {
  color: #ff4141;
}
