.hero {
  height: 70vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
}
/* css media queries */
@media (max-width: 425px) {
  .hero {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
  }
  .hero-right img {
    display: none;
  }
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 26px;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 3rem;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 105px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #fa6400;
  color: white;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s;
  scroll-behavior: smooth;
}
.hero-latest-btn:hover {
  transition: all 0.15s;
  transform: scale(1.05);
  background-color: #b02222;
}

.hero-latest-btn a {
  text-decoration: none;
  color: white;
}
.hero-link {
  text-decoration: none;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero-right img {
    display: none;
  }
}

@media (max-width: 425px) {
  .hero-left {
    padding-left: 20px;
  }
  .hero-left p {
    font-size: 2rem;
  }
}
